<!-- partial is reusable html code -->
<nav> 
    <div class="site-title">
        <a href="/"><h1>Neil site</h1></a>
        <p>Anjing</p>
    </div>
    <ul class="s-nav">
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>