<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about-content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, quod doloremque debitis repudiandae accusantium enim ratione rerum neque officiis ea tempora delectus aspernatur sunt nam dignissimos quam incidunt repellat. Eligendi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, quod doloremque debitis repudiandae accusantium enim ratione rerum neque officiis ea tempora delectus aspernatur sunt nam dignissimos quam incidunt repellat. Eligendi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, quod doloremque debitis repudiandae accusantium enim ratione rerum neque officiis ea tempora delectus aspernatur sunt nam dignissimos quam incidunt repellat. Eligendi.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>